/* ------------------------ reset ----------------------------*/

html,body,div,header,nav,ul,li,section,p,aside,footer,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/* --------------------------- Page Structure ------------------------- */

header, section, article, aside, article, footer{
	max-width: 1080px;
	margin: 0 auto;
}

#wrapper{
	background: #eee;
	background-image: url(../images/bg_tile_noise.png);
	padding-bottom: 1em;
	overflow: hidden;
}

#header-wrapper, #footer-wrapper{
	color: #fff;
	background: #371237;
	border-bottom: solid 2px #321032;
	overflow: hidden;
}

#header-wrapper{
	background-image: url(../images/verticalthick.png);
	padding-bottom: 2.250em;
}

#header-wrapper h1{
	margin: 0em;
	padding: 0em;
	text-indent: -99000px;
}

#footer-wrapper{
	background-image: url(../images/verticalthick.png);
	border-top: 0.125em inset #fff;
	clear: both;
	margin-top: 2em;
	padding: 2em 0em 1.5em;
}

footer p {
	display: inline;
	float: right;
	padding-top: 0.350em;
}

/* --------------------------- Global Styles -------------------- */

body {
	color: #333;
	font: 100%/1.3 "open sans", arial, sans-serif;
}

h1, h2 {
	color: #4b2e4f;
	font: 2.250em/1.3 oswald, arial, sans-serif;
}

h3 {
	color: #371237;
	font: 1.750em/1 oswald, arial, sans-serif;
}

h4, h5, h6{
	color: #371237;
	font: 1.250em/1 oswald, arial, sans-serif;
}

em {
	color: #66b048;
}

a {
	outline:0 none !important;
	text-decoration: none;
}

blockquote {
	font: italic 1em/1.5 "open sans", arial, sans-serif;
	margin: .5em 0 1em 1em;
}

.logo-left {
	float: left;
	margin-top: 0em;
	padding-top: 0em;
}

.image-right{
	float: right;
	background-color: #fff;
	border: 5px solid #fff;
	margin: 0em 1.250em 0em;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
}

.image-left{
	float: left;
	background-color: #fff;
	border: 5px solid #fff;
	margin: 0em 1.250em 0em;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
}

.info-link {
	color: #57963e;
	float: right;
	margin-right: 1.458em;
	font: 1.5em/1.2 oswald, arial, sans-serif;
}

/* --------------------------- Nav Elements ------------------------- */

ul {
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: left;
	padding: 0em 1em;	
}

header nav a:hover {
	border-top: 0.150em solid #66b048;
}

footer nav a:hover {
	color: #66b048;
}

nav a:active {
	position: relative;
	top: 1px;
}

header nav ul li a {
	color: #fff;
	display: block;
	font: 1.3em/1 oswald, arial, sans-serif;
	height: 2em;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
}

header nav ul{
	float: right;
	margin-top: 6.150em;
	margin-right: 1.250em;
}

footer nav ul li a {
	color: #fff;
	display: block;
	font: 1em/1 "open sans", arial, sans-serif;
	height: 1.875em;
	line-height: 1.875em;
	text-align: center;
	text-decoration: none;
}

/* --------------------------- Home Page Styles ------------------------- */

#home-framing, #home-book, #email-box, #article-container {
	background: #fff;
	border: 1px solid #e3e3e3;
	margin: 1.250em 0em;
	padding: 1.250em;
	-moz-border-radius: 0.375em;
	-webkit-border-radius: 0.375em;
	-moz-box-shadow: 0px 0px 3px 0px #999;
	-webkit-box-shadow: 0px 0px 3px 0px #999;
	box-shadow: 0px 0px 3px 0px #999;
	overflow: hidden;
}

#home-framing {
	background: #e8e8e8;
	border: 0.500em solid #fff;
}

#home-framing h2 {
	display: inline;
	margin:0;
	padding: 0.5em;
}

#home-framing p {
	font: 1.1em/1.5 "open sans", arial, sans-serif;
	padding: 1em;
}

#home-book{
	float: left;
	margin-top: 0;
	width: 31em;
}

#home-book h3 {
	display: block;
}

#home-book p {
	font: 1.1em/1.5 "open sans", arial, sans-serif;
	padding: 1em;
}

#email-box {
	height: 238px;
	width: 30em;
	float: left;
	margin: 0em 0em 1.250em 1.250em;
	padding: 1.250em;
}

#signup-form {
	border-right: solid 2px #999;
	float: left;
	height: 230px;
	margin-right: 1.250em;
	padding-right: 1.250em;
}

aside {
	margin-top: 1.5em;
}

aside a {
	height: 2em;
	line-height: 3em;
}

.social {
	color: #66b048;
	font: 1.250em/1 oswald, arial, sans-serif;
	position: relative;
	bottom: 6px;
	left: 6px;
}

/* --------------------------- Framing Page Styles ------------------------- */

#top-content h1 {
	margin: 0.750em 0em;
	padding: 0em;
}

#columns {
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

#columns p, article p {
	line-height: 1.5em;
	padding-bottom: 0.625em;
	text-indent: 1em;
}

#columns h2 {
	color: #66b048;
	font: 1.250em/1 oswald, arial, sans-serif;
}

article {
	opacity: 0.75;
}

.steps {
	clear: both;
	border-bottom: 0.12em inset #252525;
	margin: 1.250em 0em 1.250em;
	padding: 1.250em 0em 1.750em;
	overflow: hidden;
}

.steps h1 {
	color: #66b048;
	font: 1.850em/1 oswald, arial, sans-serif;
	margin: 1.250em 0em;
	padding: 0em 0.690em;
	text-shadow: 1px 1px 0px #555;
}

.steps p {
	line-height: 1.5em;
	padding: 0em 1.250em;
}

/* --------------------------- Gallery Page Styles ------------------------- */

#gallery ul{
	outline: none;
}

#gallery li {
	background-color: #fff;
	float: left;
	margin: 0.375em;
	padding: 0.375em;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
}

#gallery h1 {
	margin: 0.750em 0em;
	padding: 0em;
}

#gallery p {
	line-height: 1.5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

#gallery p.thumbnail-caption {
	color: #66b048;
	font: 1.2em/1.3 oswald, arial, sans-serif;
	padding: 0.5em 0.25em 0em 0.5em;
}

/* --------------------------- CSS Buttons ------------------------- */

.button {
	display: inline-block;
	float: right;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1.1em/100% oswlad, arial, sans-serif;
	padding: .5em 1.8em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .4em; 
	-moz-border-radius: .4em;
	border-radius: .4em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.green {
	color: #fff;
	border: solid 1px #58974e;
	background: #66b048;
	background: -webkit-gradient(linear, left top, left bottom, from(#66b048), to(#57963d));
	background: -moz-linear-gradient(top,  #66b048,  #57963d);
}

.green:hover {
	background: #57963d;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#57963d), to(#66b048);*/
	background: -moz-linear-gradient(top,  #57963d,  #66b048);
}

.green:active {
	color: #fff;
	background: #57963e;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#57963e), to(#66b048));*/
	background: -moz-linear-gradient(top,  #57963e,  #66b048);
} 

/* --------------------------- Media Queries ------------------------- */











