/* ------------------------ reset ----------------------------*/

html,body,div,header,nav,ul,li,section,p,aside,footer,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/* --------------------------- Page Structure ------------------------- */

header, section, article, aside, article, footer{
	width: 1080px;
	margin: 0 auto;
}

#wrapper{
	background: #eee;
	background-image: url(../images/bg_tile_noise.png);
	padding-bottom: 1em;
	overflow: hidden;
}

#header-wrapper, #footer-wrapper{
	color: #fff;
	background: #371237;
	border-bottom: solid 2px #321032;
	overflow: hidden;
}

#header-wrapper{
	background-image: url(../images/verticalthick.png);
	padding-bottom: 2.250em;
}

#header-wrapper h1{
	margin: 0em;
	padding: 0em;
	text-indent: -99000px;
}

#footer-wrapper{
	background-image: url(../images/verticalthick.png);
	border-top: 0.125em inset #fff;
	clear: both;
	margin-top: 2em;
	padding: 2em 0em 1.5em;
}

footer p {
	display: inline;
	float: right;
	padding-top: 0.350em;
}

/* --------------------------- Global Styles -------------------- */

body {
	color: #333;
	font: 1em/1.3 "open sans", arial, sans-serif;
}

h1, h2 {
	color: #4b2e4f;
	font: 2.250em/1.3 oswald, arial, sans-serif;
	padding-bottom: 0.625em;
}

h3 {
	color: #371237;
	font: 1.750em/1 oswald, arial, sans-serif;
}

h4, h5, h6{
	color: #371237;
	font: 1.250em/1 oswald, arial, sans-serif;
}

em {
	color: #66b048;
}

a {
	text-decoration: none;
}

.logo-left {
	float: left;
	margin-top: 0em;
	padding-top: 0em;
}

.image-right{
	float: right;
	background-color: #fff;
	border: 5px solid #fff;
	margin: 0em 1.250em 0em;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
}

.image-left{
	float: left;
	background-color: #fff;
	border: 2px solid #fff;
	margin: 0em 1.250em 0em;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
}

.info-link {
	color: #57963e;
	float: right;
	margin-right: 1.458em;
	font: 1.5em/1.2 oswald, arial, sans-serif;
}

/* --------------------------- Nav Elements ------------------------- */

ul {
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: left;
	padding: 0em 1em;	
}


header nav a:hover {
	border-top: 0.150em solid #66b048;
}

footer nav a:hover {
	color: #66b048;
}

nav a:active {
	position: relative;
	top: 1px;
}

header nav ul li a {
	color: #fff;
	display: block;
	font: 1.3em/1 oswald, arial, sans-serif;
	height: 2em;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
}

header nav ul{
	float: right;
	margin-top: 6.150em;
	margin-right: 1.250em;
}

footer nav ul li a {
	color: #fff;
	display: block;
	font: 1em/1 "open sans", arial, sans-serif;
	height: 1.875em;
	line-height: 1.875em;
	text-align: center;
	text-decoration: none;
}

/* --------------------------- Home Content ------------------------- */



/* --------------------------- Framing Content ------------------------- */



/* --------------------------- Gallery Content ------------------------- */



/* --------------------------- CSS Buttons ------------------------- */

