/* ------------------------ reset ----------------------------*/

html,body,div,header,nav,ul,li,section,p,aside,footer,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/* --------------------------- Page Structure ------------------------- */

header, section, article, aside, article, footer{
	max-width: 1080px;
	margin: 0 auto;
	padding: 0.925926%;
}

#wrapper{
	background: #fff;
	background-image: url(../images/bg_tile_noise.png);
	padding-bottom: 1.481481%;
	overflow: hidden;
}

#header-wrapper, #footer-wrapper{
	color: #fff;
	background: #371237;
	border-bottom: solid 2px #321032;
	overflow: hidden;
}

#header-wrapper{
	background-image: url(../images/verticalthick.png);
	padding-bottom: 3.333333%;
}

#header-wrapper h1{
	margin: 0;
	padding: 0;
	text-indent: -99000px;
}

#footer-wrapper{
	background-image: url(../images/verticalthick.png);
	border-top: 0.125em inset #fff;
	clear: both;
	margin-top: 2.962963%;
	padding: 2.777778% 0;
}

footer p {
	float: right;
	padding: 0;
}

/* --------------------------- Global Styles -------------------- */

body {
	color: #333;
	font: 100%/1.3 "open sans", arial, sans-serif;
}

h1, h2 {
	color: #4b2e4f;
	font: 2.250em/1.3 oswald, arial, sans-serif;
	padding: 1.851852%;
}

h3 {
	color: #371237;
	font: 1.750em/1 oswald, arial, sans-serif;
	padding: 1.851852%;
}

h4, h5, h6{
	color: #371237;
	font: 1.250em/1 oswald, arial, sans-serif;
}

p {
	padding: 1.851852%;
}

em {
	color: #66b048;
}

a {
	outline:0 none !important;
	text-decoration: none;
}

blockquote {
	font: italic 1em/1.5 "open sans", arial, sans-serif;
	padding: 1.111111%;
}

img {
	max-width: 100%;
	height: auto;
}

.logo-left {
	float: left;
	margin-top: 0;
	padding-top: 0;
}

.image-right{
	float: right;
	margin: 1.851852%;
}

.image-left{
	float: left;
	margin: 1.851852%;
}

.info-link {
	color: #57963e;
	float: right;
	margin-right: 3.603604%;
	font: 1.5em/1.2 oswald, arial, sans-serif;
}

/* --------------------------- Nav Elements ------------------------- */

ul {
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: left;
	padding: 0 1em;	
}

header nav a:hover {
	border-top: 0.150em solid #66b048;
}

footer nav a:hover {
	color: #66b048;
}

nav a:active {
	position: relative;
	top: 1px;
}

header nav ul li a {
	color: #fff;
	display: block;
	font: 1.3em/1 oswald, arial, sans-serif;
	height: 2em;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
}

header nav ul{
	float: right;
	margin-top: 9.074074%;
	margin-right: 1.851852%;
}

footer nav ul li a {
	color: #fff;
	height: 1.851852%;
	line-height: 1.851852%;
	padding: 1.851852%;
	text-align: center;
	text-decoration: none;
}

/* --------------------------- Home Page Styles ------------------------- */

#home-framing, #home-book, #email-box, #article-container {
	background: #fff;
	border: 1px solid #e3e3e3;
	-moz-border-radius: .555556%;
	-webkit-border-radius: .555556%;
	-moz-box-shadow: 0px 0px 3px 0px #999;
	-webkit-box-shadow: 0px 0px 3px 0px #999;
	box-shadow: 0px 0px 3px 0px #999;
	overflow: hidden;
}

#home-framing {
	background: #e8e8e8;
	border: 0.500em solid #fff;
	margin: 1.851852% 0.925926%;
}

#framing-pic {
	width: 55.555556%;
}

#home-framing p {
	font: 1.2em/1.3 "open sans", arial, sans-serif;
}

#home-book{
	float: left;
	margin: 0.925926% 1.851852% 1.851852% 0.925926%;
	padding: 1.388889%;
	width: 44.722222%;
}

#home-book h3 {
	display: block;
}

#idea-book {
	width: 37.037037%;
}

#email-box {
	height: 238px;
	float: left;
	margin: 0.925926% 0.925926% 1.851852% 0.925926%;
	padding: 1.388889%;
	width: 44.722222%;
}

#signup-form {
	float: left;
	height: 203px;
	margin: 0 1.851852%;
	padding: 0 1.388889%;
}

aside {
	margin: 0;
	padding: 0;
}

aside p {
	margin: 0;
	padding: 0 0 3.703704% 0;
}

aside a {
	height: 2em;
	line-height: 3em;
	margin: 0 1.851852%;
	padding: 0 1.388889%;
}

.social {
	color: #66b048;
	font: 1.2em/1 oswald, arial, sans-serif;
	position: relative;
	bottom: 6px;
	left: 6px;
}

/* --------------------------- Framing Page Styles ------------------------- */

#top-content h1 {
	margin: 1.111111% 0;
	padding: 0;
}

#columns {
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

#columns p, article p {
	line-height: 1.5em;
	padding-bottom: .925926%;
	text-indent: text-indent: 1.481481%;
}

#columns h2 {
	color: #66b048;
	font: 1.250em/1 oswald, arial, sans-serif;
}

article {
	opacity: 0.75;
}

#steps-container {
	padding: 1.851852%;
}

.steps {
	clear: both;
	border-bottom: 0.12em inset #252525;
	margin: 1.851852% 0;
	padding: 1.851852% 0 2.592593%;
	overflow: hidden;
}

.steps h1 {
	color: #66b048;
	font: 1.850em/1 oswald, arial, sans-serif;
	margin: 1.851852%;
	padding: 1.851852%;
	text-shadow: 1px 1px 0px #555;
}

.steps p {
	margin: 1.851852%;
}

.steps .image-right {
	float: right;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
	width: 66.666667%;
}

.steps .image-left {
	float: left;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
	width: 66.666667%;
}

/* --------------------------- Gallery Page Styles ------------------------- */

#gallery li {
	background-color: #fff;
	float: left;
	margin: 0.925926%;
	width: 31.111111%;
	-moz-box-shadow: 1px 1px 3px #555;
	-webkit-box-shadow: 1px 1px 3px #555;
	box-shadow: 1px 1px 3px #555;
}

#gallery p.thumbnail-caption {
	color: #66b048;
	font: 1.2em/1.3 oswald, arial, sans-serif;
}

/* --------------------------- CSS Buttons ------------------------- */

.button {
	display: inline-block;
	float: right;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1.1em/100% oswlad, arial, sans-serif;
	margin: 1.851852%;
	padding: .740741% 2.592593%;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .4em; 
	-moz-border-radius: .4em;
	border-radius: .4em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.green {
	color: #fff;
	border: solid 1px #58974e;
	background: #66b048;
	background: -webkit-gradient(linear, left top, left bottom, from(#66b048), to(#57963d));
	background: -moz-linear-gradient(top,  #66b048,  #57963d);
}

.green:hover {
	background: #57963d;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#57963d), to(#66b048);*/
	background: -moz-linear-gradient(top,  #57963d,  #66b048);
}

.green:active {
	color: #fff;
	background: #57963e;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#57963e), to(#66b048));*/
	background: -moz-linear-gradient(top,  #57963e,  #66b048);
} 

/* ------------------------------------------------------------------- */
/* --------------------------- Media Queries ------------------------- */
/* ------------------------------------------------------------------- */


/*--------------- Tablet portrait to regular browser ------------------*/
/* ------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1079px){

/* --------------------------- Global Styles ------------------------- */

	.logo-left {max-width: 47%;}
	
	#email-box {display: none;}

	#header-wrapper h1{display: none;}
	
	footer nav {display: none;}
	
	footer p {
		float: none;
		font: 1.1em/1.3 "open sans", arial, sans-serif;
		padding: 3.125%;
		text-align: center;
	}
	
/* --------------------------- Home Page Styles ------------------------- */
	
	.image-right {
		float: left;
	}
	
	#home-framing p {
		font: 1em/1.1 "open sans", arial, sans-serif;
		padding: 0.925926% 1.851852%;
	}
	
	#framing-pic {
	 	max-width: 100%;
	}
	
	#home-book {
		float: none;
		border: 0.500em solid #fff;
		margin: 1.851852% 0.925926%;
		padding: 0;
		width: auto;
	}
	
	#idea-book {
		max-width: 18%;
	}	
	
/* --------------------------- Framing Page Styles ------------------------- */
	
	#columns {
		-moz-column-count: 2;
		-webkit-column-count: 2;
	}
	
	.steps h1 {
		font: 1.650em/1.3 oswald, arial, sans-serif;
		margin: 1.851852% 0;
		padding: 0;
	}
	
	.steps p {
		margin: 1.851852% 0;
		padding: 0;
	}
}

/*------------- Mobile landscape to tablet portrait ------------------*/
/* ------------------------------------------------------------------- */

@media screen and (min-width: 480px) and (max-width: 767px){

/* --------------------------- Global Styles ------------------------- */

	.logo-left {display: none;}
	
	header nav ul {float: left;}
	
	#email-box {display: none;}
	
	article {display: none;}

	#header-wrapper h1{display: none;}
	
	footer nav {display: none;}
	
	footer p {
		float: none;
		font: 1.1em/1.3 "open sans", arial, sans-serif;
		padding: 3.125%;
		text-align: center;
	}
	
/* --------------------------- Home Page Styles ------------------------- */
	
	#home-framing {
		float: none;
		border: 0.500em solid #fff;
		margin: 1.851852% 0.925926%;
		padding: 0;
		width: auto;
	}
	
	#home-framing p {
		font: 1em/1.1 "open sans", arial, sans-serif;
		padding: 0.925926% 1.851852%;
	}
	
	#framing-pic {
		float: none;
	 	width: auto;
	}
	
	#home-book {
		float: none;
		border: 0.500em solid #fff;
		margin: 1.851852% 0.925926%;
		padding: 0;
		width: auto;
	}
	
	#idea-book {
		width: 25%;
	}	
	
/* --------------------------- Framing Page Styles ------------------------- */
	
	#top-content h1 {
		padding: 3.125%;
	}

	#columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
	}
	
	#columns p {
		line-height: 1.5em;
		text-indent: 0;
		padding: 3.125%;
	}
	
	.steps .image-right, .steps .image-left {
		float: none;
		-moz-box-shadow: 1px 1px 3px #555;
		-webkit-box-shadow: 1px 1px 3px #555;
		box-shadow: 1px 1px 3px #555;
		margin: 0 auto;
		padding: .78125%;
		width: auto;
	}
	
	.steps, .steps p {
		padding: 1.85185%;
	}
	
	#gallery li {
		float: left;
		margin: 0.925926%;
		width: 48%;
	}
}

/* --------------- Mobile portrait to mobile landscape -----------------*/
/* ------------------------------------------------------------------- */

@media screen and (max-width: 479px){

/* --------------------------- Global Styles ------------------------- */

	.logo-left {display: none;}
	
	header nav ul {float: left;}
	
	#email-box {display: none;}
	
	article {display: none;}

	#header-wrapper h1{display: none;}
	
	footer nav {display: none;}
	
	h1, h2, h3, h4, h5, h6, p {padding: 3.125% 6.250%;}
	
	.image-right, .image-left {
		border: none;
		float: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		margin: 0;
		padding:0;
	}
	
	footer p {
		float: none;
		font: .750em/1 "open sans", arial, sans-serif;
		padding: 3.125%;
		text-align: center;
	}
	
/* --------------------------- Home Page Styles ------------------------- */
	
	#home-framing {
		background: #fff;
		border: none;
	}
	
	#home-framing p {
		font: 1em/1.3 "open sans", arial, sans-serif; 
	}
	
	#framing-pic {
		width: auto;
	}
	
	#idea-book {
		float: none;
		width: auto;
	}	
	
	#home-book {
		float: none;
		margin: 1.851852% 0.925926%;
		padding: 0;
		width: auto;
	}
	
	#home-book p {
		font: 1em/1.3 "open sans", arial, sans-serif; 
	}
	
	.button {
		display: block;
		float: none;
		margin: 6.250%;
	}

/* --------------------------- Framing Page Styles ------------------------- */
	
	#top-content h1 {
		padding: 3.125% 6.250%;
	}

	#columns {
		-moz-column-count: 1;
		-webkit-column-count: 1;
	}
	
	#columns p, article p {
		line-height: 1.5em;
		text-indent: 0;
	}
	
	.steps .image-right, .steps .image-left {
		border: none;
		float: none;
		-moz-box-shadow: 1px 1px 3px #555;
		-webkit-box-shadow: 1px 1px 3px #555;
		box-shadow: 1px 1px 3px #555;
		margin: 0 auto;
		padding: .78125%;
		width: 100%;
	}
	
	.steps, .steps p {
		padding: 1.85185%;
	}

/* --------------------------- Gallery Page Styles ------------------------- */

	#gallery li {
		float: none;
		margin: 6.250% 0.925926%;
		width: auto;
	}
}








